In [1]:
import pandas as pd

In [2]:
stocks = ['IBM', 'APPLE', 'TWTTR', 'GE', 'MSFT']

In [3]:
prices = [115.00, 119.14, 19.77, 25.99, 26]

In [6]:
portfolio = list(zip(stocks, prices))
portfolio

[('IBM', 115.0),
 ('APPLE', 119.14),
 ('TWTTR', 19.77),
 ('GE', 25.99),
 ('MSFT', 26)]

In [7]:
df = pd.DataFrame(data=portfolio, columns=['Stocks', 'Prices'])
df

  Stocks  Prices
0    IBM  115.00
1  APPLE  119.14
2  TWTTR   19.77
3     GE   25.99
4   MSFT   26.00

In [12]:
df['Volume'] = [40, 36, 23, 44,25]
df

  Stocks  Prices  Volume
0    IBM  115.00      40
1  APPLE  119.14      36
2  TWTTR   19.77      23
3     GE   25.99      44
4   MSFT   26.00      25

In [14]:
df.index = ['a','b','c','d','e']
df

  Stocks  Prices  Volume
a    IBM  115.00      40
b  APPLE  119.14      36
c  TWTTR   19.77      23
d     GE   25.99      44
e   MSFT   26.00      25

In [15]:
# slicing
df.Stocks

a      IBM
b    APPLE
c    TWTTR
d       GE
e     MSFT
Name: Stocks, dtype: object

In [16]:
df['Stocks']

a      IBM
b    APPLE
c    TWTTR
d       GE
e     MSFT
Name: Stocks, dtype: object

In [17]:
df['Stocks']['c']

'TWTTR'

In [18]:
df.Stocks['c']

'TWTTR'

In [19]:
df.loc['c']

Stocks    TWTTR
Prices    19.77
Volume       23
Name: c, dtype: object

In [20]:
df.loc['c', 'Prices']

19.77

In [21]:
print(df)
df.iloc[4,1]

  Stocks  Prices  Volume
a    IBM  115.00      40
b  APPLE  119.14      36
c  TWTTR   19.77      23
d     GE   25.99      44
e   MSFT   26.00      25

26.0

In [22]:
df.iloc[-1,1]

26.0

In [24]:
df_new = df[["Stocks", "Volume"]]
df_new

  Stocks  Volume
a    IBM      40
b  APPLE      36
c  TWTTR      23
d     GE      44
e   MSFT      25